worldcode_MC4_2025-10-31-15-09-55_13_s0_vlta_reorg_sample_1-7/
.ipynb_checkpoints
**/__pycache__/
tree_structure.txt
wiyh_tutorial-Copy1.ipynb
wiyh_tutorial.html
worldcode_MC4_2025-10-31-15-09-55_13_s0_vlta_reorg_sample_1-7.tar
.vscode/
data/
docs/